<div class="container">
    <!-- <aui-rwd-flex *ngIf="showForm" [container]="'max-width'">
      <aui-rwd-flex-row>
        <aui-rwd-flex-col>
          <div class="loan-parameters">
            <aui-header [title]="'PRODUCT.PRODUCT_PARAMETERS_TITLE' | translate" [size]="'small'"></aui-header>
          </div>
          <div class="info-icon">
            <aui-svg-sprite style="width: 18px; height: 18px" svgIcon="alior.info"
                            (click)="showProductTooltipDialog()"></aui-svg-sprite>
          </div>
        </aui-rwd-flex-col>
      </aui-rwd-flex-row> -->
      <!-- <aui-rwd-flex-row>
        <aui-rwd-flex-col class="product-type">
          <aui-radio-input>
            <aui-radio-group [eqCols]='false' [asRow]="true" gap="14px" auiInputRef [formControl]="productType">
              <aui-radio-custom value="{{productTypeEnum.Bk}}">
                <aui-box-tile libIcon="alior.epuap_calendar" desc="{{'PRODUCT.PRODUCT_BK' | translate}}">
                </aui-box-tile>
              </aui-radio-custom>
              <aui-radio-custom value="{{productTypeEnum.Krb}}">
                <aui-box-tile libIcon="alior.renew" desc="{{'PRODUCT.PRODUCT_KRB' | translate}}">
                </aui-box-tile>
              </aui-radio-custom>
            </aui-radio-group>
          </aui-radio-input>
        </aui-rwd-flex-col>
      </aui-rwd-flex-row> -->
      <!-- <aui-rwd-flex-row class="offer-configuration-title">
        <aui-rwd-flex-col>
          <aui-header [title]="'PRODUCT.OFFER_CONFIGURATION' | translate" [size]="'small'"></aui-header>
        </aui-rwd-flex-col>
      </aui-rwd-flex-row> -->
      <div class="offer-container">
        <div class="calc-box">
          <!-- <aui-rwd-flex-row class="justify-content-sm-between">
            <aui-rwd-flex-col [xxl]="5" [xl]="5" [lg]="5" [md]="5" [sm]="5" class="col-12 no-horizontal-padding">
              <div class="product-label-1 amount-label">
                {{'PRODUCT.AMOUNT_LABEL' | translate}}
              </div>
            </aui-rwd-flex-col>
            <aui-rwd-flex-col [xxl]="5" [xl]="5" [lg]="5" [md]="5" [sm]="5">
              <aui-input style="width: 100%" suffix="PLN" (focusout)="onChangeAmount()">
                <input amountFormat auiInputRef [formControl]="amountInput" type="text" inputmode="numeric">
              </aui-input>
            </aui-rwd-flex-col>
          </aui-rwd-flex-row> -->
          <!-- <aui-rwd-flex-row> -->
            <!-- <aui-rwd-flex-col> -->
              <div class="slider">
                <aui-slider style="padding: 0;"
                            [min]="0"
                            [max]="100"
                            [showMinMaxTemplates]="true"
                            [maxLimit]="90"
                            [step]="1"
                            [formControl]="sliderFormControl2">
                </aui-slider>
              </div>
              <div>
                slider value: {{ sliderFormControl2.value  | json}}
              </div>
        </div>
            <!-- </aui-rwd-flex-col> -->
          <!-- </aui-rwd-flex-row> -->
          <!-- <div class="period">
            <aui-rwd-flex-row>
              <aui-rwd-flex-col>
                <div class="product-label-1">
                  {{'PRODUCT.PERIOD_LABEL' | translate}}
                </div>
              </aui-rwd-flex-col>
            </aui-rwd-flex-row>
            <aui-rwd-flex-row class="period-value">
              <aui-rwd-flex-col>
                <aui-radio-input>
                  <aui-radio-group *ngIf="productType.value === productTypeEnum.Bk" style="display: flex; flex-wrap: wrap"
                                   [eqCols]='false' [asRow]="true" gap="7px"
                                   auiInputRef [formControl]="period">
                    <aui-radio-custom *ngFor="let element of periodValuesForBK" [value]="element">
                      <box-period [desc]="element"></box-period>
                    </aui-radio-custom>
                  </aui-radio-group>
                  <aui-radio-group *ngIf="productType.value === productTypeEnum.Krb"
                                   style="display: flex; flex-wrap: wrap" [eqCols]='false' [asRow]="true" gap="7px"
                                   auiInputRef [formControl]="period">
                    <aui-radio-custom *ngFor="let element of periodValuesForKrb" [value]="element">
                      <box-period [desc]="element"></box-period>
                    </aui-radio-custom>
                  </aui-radio-group>
                </aui-radio-input>
              </aui-rwd-flex-col>
            </aui-rwd-flex-row>
          </div>
        </div> -->
        <!-- <div class="summary-box">
          <div>
            <aui-rwd-flex-row class="offer-calculation">
              <aui-rwd-flex-col>
                <div class="product-label-1">
                  {{'PRODUCT.SUMMARY' | translate}}
                </div>
              </aui-rwd-flex-col>
            </aui-rwd-flex-row>
            <aui-rwd-flex-row>
              <aui-rwd-flex-col [xxl]="12" [xl]="12" [lg]="12" [md]="3" [sm]="3" class="col-12">
                <aui-rwd-flex-row class="summary-param">
                  <aui-rwd-flex-col>
                    <app-label-value
                      [label]="'PRODUCT.INTEREST_RATE' | translate"
                      [value]="interestRate! + ' %'">
                    </app-label-value>
                  </aui-rwd-flex-col>
                </aui-rwd-flex-row>
              </aui-rwd-flex-col>
              <aui-rwd-flex-col [xxl]="12" [xl]="12" [lg]="12" [md]="3" [sm]="3" class="col-12">
                <aui-rwd-flex-row class="summary-param">
                  <aui-rwd-flex-col>
                    <app-label-value
                      [label]="'PRODUCT.PROVISION' | translate"
                      [value]="provision! + ' %'">
                    </app-label-value>
                  </aui-rwd-flex-col>
                </aui-rwd-flex-row>
              </aui-rwd-flex-col>
              <aui-rwd-flex-col [xxl]="12" [xl]="12" [lg]="12" [md]="3" [sm]="3" class="col-12">
                <aui-rwd-flex-row *ngIf="productType.value === productTypeEnum.Bk">
                  <aui-rwd-flex-col>
                    <app-label-value
                      [title]="'PRODUCT.INSTALLMENT' | translate"
                      [value]="(installment! | money) + ' PLN'">
                    </app-label-value>
                  </aui-rwd-flex-col>
                </aui-rwd-flex-row>
              </aui-rwd-flex-col>
            </aui-rwd-flex-row>
          </div>
        </div> -->
      <!-- </div> -->
      <!-- <div class="legal-notice-container">
        <div class="product-label-2">{{'PRODUCT.LEGAL_NOTICE_LABEL' | translate}}</div>
        <div class="legal-notice" [innerHTML]="'PRODUCT.LEGAL_NOTICE' | translate: {legalNotice:legalNotice}"></div>
      </div> -->
      <div style="height: 20px">

      </div>
      <div class="navigate-buttons">
        <!-- <aui-rwd-flex-col> -->
          <button type="button" class="button">NEXT</button>
        <!-- </aui-rwd-flex-col> -->
        <!-- <aui-rwd-flex-col> -->
          <button type="button" class="button">BACK</button>
        <!-- </aui-rwd-flex-col> -->
      </div>
    <!-- </aui-rwd-flex> -->
  </div>
  
  <!-- <ng-template #productInfoDialog>
    <div class="dialog-content">
      <div class="product-info-message">
        <div>
          <div class="info-dialog-title">{{'PRODUCT.INFO_DIALOG.BK.TITLE' | translate}}</div>
          <div class="product-label-2">{{'PRODUCT.INFO_DIALOG.BK.MESSAGE' | translate}}</div>
          <div>
            <ul>
              <li class="product-label-2">{{'PRODUCT.INFO_DIALOG.BK.GOAL_1' | translate}}</li>
              <li class="product-label-2">{{'PRODUCT.INFO_DIALOG.BK.GOAL_2' | translate}}</li>
              <li class="product-label-2">{{'PRODUCT.INFO_DIALOG.BK.GOAL_3' | translate}}</li>
            </ul>
          </div>
        </div>
        <div class="krb-product-tooltip">
          <div class="info-dialog-title">{{'PRODUCT.INFO_DIALOG.KRB.TITLE' | translate}}</div>
          <div class="product-label-2">{{'PRODUCT.INFO_DIALOG.KRB.MESSAGE' | translate}}</div>
        </div>
      </div>
      <div class="product-info-dialog-buttons">
        <button type="button" class="secondary-button" auiButton="secondary"
                (click)="closeProductTooltipDialog()">{{'COMMON.DIALOG_CLOSE_BUTTON' | translate}}</button>
      </div>
    </div>
  </ng-template> -->




<!-- <app-info></app-info>
<div class="container">
  <div class="component">
    <div class="outline">
      <aui-slider
        label="Aui slider"
        [min]="0"
        [max]="100"
        [step]="1"
        [formControl]="sliderFormControl"
        [showMinMaxLabels]="true"
        (rangeChange)="rangeChanged($event)"
      ></aui-slider>
    </div>
    <div style="margin-top: 10px"></div>
    <div class="outline">
      Slider input value: {{ sliderFormControl.value | json }}
    </div>
  </div>

  <br />

  <div class="component">
    <div class="outline">
      <aui-slider
        label="Aui slider"
        [minLimit]="20"
        [maxLimit]="89.1"
        [decimalPlaces]="true"
        [formControl]="sliderFormControl2"
        [showMinMaxLabels]="true"
        [showMinMaxTemplates]="true"
        (rangeChange)="rangeChanged($event)"
      >
    </aui-slider>
    </div>
    <div style="margin-top: 10px"></div>
    <div class="outline">
      Slider input value: {{ sliderFormControl2.value | json }}
    </div>
  </div>

  <br />

  <div class="component">
    <div class="outline">
      <aui-slider
        label="Aui slider"
        [min]="20"
        [max]="79.1"
        [decimalPlaces]="true"
        [formControl]="sliderFormControl3"
        [showMinMaxLabels]="true"
        [rangeSlider]="true"
        (rangeChange)="rangeChanged($event)"
      ></aui-slider>
    </div>
    <div style="margin-top: 10px"></div>
    <div class="outline">
      Slider input value: {{ sliderFormControl3.value | json }}
    </div>
  </div>

  <div>
    <button type="button" class="button">BUTTON</button>
  </div>
</div> -->
