<!-- <div class="aui-expand-label" [style.text-align]="justify">
  <div class="aui-expand-label-wrapper" (click)="toggle()">
    <span>{{ desc }}</span>
    <span *ngIf="descOpened && isExpanded">{{ descOpened }}</span>
    <span *ngIf="descClosed && !isExpanded">{{ descClosed }}</span>
    <aui-svg-sprite src="chevron-down" lib="/assets/svg/sprite-alior.svg"
      [@rotateAnim]="{ value: isExpanded, params: { rotateDegClosed: descBottom ? -180 : 0, rotateDegOpen: descBottom ? 0 : -180 }}">
    </aui-svg-sprite>
  </div>
</div>
<div *ngIf="isExpanded" class="expand" [class.expand-down]="descBottom" @appearHeight>
  <div [class.padding-bottom]="!descBottom" [class.padding-top]="descBottom">
    <ng-content></ng-content>
  </div>
</div> -->